.user-component{
    justify-content: space-between;
}



.user-component_text_column{
    width: 100%;
}

.user-component_avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component_title{
    font-weight: 600;
    font-size: 22px;
    color: black
}
.user-component_subtitle{
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}
.user-component_avatar--xl{
    width: 80px;
    height: 80px;
}
.user-component_avatar--sm{
    width: 60px;
    height: 60px;
}

.user-component_title--not-bold{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.user-component,
.user-component_column:first-child{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.user-component_column:last-child{
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

.user-component_time{
    margin-bottom: 10px;
    display: block;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.3);
}
.user-component_text_column{
    display: flex;
    justify-content: space-between;
}

.user-component_friends{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    margin-bottom: 10px;
}

.arrow_icon {
    margin-left: 5px;
}
.user-component_number{
    margin-right: 4px;
}